{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('show_categories') }}">geek catalog</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}

{% block page_content %}{% endblock %}

{% endblock %}

