{% extends 'base.html' %}
{%  import "bootstrap/wtf.html" as wtf %}
{% block title %}geek catalog{% endblock %}
{%  include 'header.html' %}
{% block page_content %}

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h2>Add New Item in {{ category_name }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
               {{ wtf.quick_form(form, enctype='multipart/form-data') }}
               <a href="{{ url_for('show_categories') }}" class="btn btn-default">Cancel</a>
            </div>
	    </div>

</div> <!-- /container -->

{% endblock %}